<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <script type="text/javascript">
   var xhr = new XMLHttpRequest();
var url = 'abandonmentPublic.xml'; /*URL*/
var queryParams = '?' + encodeURIComponent('ServiceKey') + '='+'0VDjdwNJMm9Re0C4rV%2FcRTvyPBS%2B3cZaPvLuqg8BTomZEH8iEAiHke2Xqgu4ZblcxV%2BXO9fH1d0zdz9nmsGxTA%3D%3D'; /*Service Key*/
xhr.open('GET', url + true);
xhr.onreadystatechange = function () {
    if (this.readyState == 4) {
        alert('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
    }
};

xhr.send('');
    </script>
</head>
<body>
    
</body>
</html>